body {
	background-image: url(kyiv-metro-wagon-interior-with-no-people-and-orange-seats-R3DBG2.jpg);
	background-size: cover;
	background-attachment: fixed;
	}

strong {
	color: red;
	text-decoration: underline;
	 }
.logo{
	width:100px;
	height: 100px;
}
h1{
	display: flex;
	justify-content: center;
	color: #C86049;
	background-color: lightgrey;
	 text-transform: uppercase;
	 letter-spacing: 4px;
	 text-shadow: 2px 2px 5px red;
}

h2{
	display: flex;
	justify-content: center;
	color:#3469A2;
	background-color: lightgrey;
	 text-transform: uppercase;
	 letter-spacing: 4px;
	 text-shadow: 2px 2px;
}

table {
    width: 600px; 
    border: 3px solid green;
    border-radius: 6px; 
    margin: auto;
    background-color: white;
 
   }
   td, td{
    text-align: center; 
    border: 2px solid green;
    border-radius: 6px;
    background-color: white;
}
address{
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	 margin: auto;
	 padding: 20px;
}

ul li:nth-child(odd)
{
	color: pink
}

ul li:nth-child(even)
{
	color: yellow
}

.header{
	display: flex;
	justify-content: center;
}

.radio{
	display: flex;
	justify-content: center;
}
